{% extends 'home.html' %}
{% block title %}
  ShowBook Page
{% endblock %}
{% block content %}
  
  <div class="'width:80%;margin: auto;">
    <h1 style="width:30%;margin:10px auto;" class="bg-primary rounded text-white text-center" >Completed Tasks</h1>
    {% if data %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for i in data %}
        <tr>
          <td>{{i.taskTitle}}</td>
          <td>{{i.taskDescription}}</td>
          <td>completed</td>
          <td>
            <a href="{% url 'delete_task' pk=i.id %}" class="btn btn-danger btn-sm">Delete</a>
            <a href="{% url 'edit_task' pk=i.id %}" class="btn btn-primary btn-sm">Edit</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h3>No data available</h3>
    {% endif %}
  </div>

  
{% endblock %}